#missionData, #timerMinute, #timerSecond, #timerSpliter1, #autoTimerMinute, #autoTimerSecond, #autoTimerSpliter1 {
	font-size:4rem;
}

#timerMs, #timerSpliter2, #autoTimerMs, #autoTimerSpliter2 {
	font-size:3rem;
}

div {
	margin:0 auto;
	width:fit-content;
}

p {
	margin:1rem;
}

#missionData {
	display: inline-block;
	text-align: center;
	width: 100%;
}